#page, footer.main, main, img {
  max-width: 100%;
}
#page, footer.main, nav ul {
  margin: auto;
}

main {
  float: left;
}

#logo {
  display: none;
}

/* Scroll if it's larger than the screen */
code {
  overflow-x: auto;
  overflow-y: visible;
}

/* Navigation menu */
nav {
  top: 0;
  right: 0;
  width: auto;
  padding: 1em;
  z-index: 10;
}

/* Menu button */
nav label:after {
  display: block;
  opacity: .5;
  font-size: 2em;
  width: 1em;
  padding: .1em .25em;
  margin-left: auto;
  background: #575D63;
  border-radius: .25em;
  text-align: center;
  color: #73c990;
  content: attr(data-open);
}
#nav_toggle:checked + nav label:after{
  opacity: 1;
  content: attr(data-close);
  box-shadow: 5px 5px 5px #ccc;
}

/* Actual menu */
nav ul {
  background: white;
  text-align: right;
  padding: .5em;
  padding-left: 1em;
  margin-top: .5em;
  border: 2px dotted gray;
  box-shadow: 5px 5px 5px #ccc;
  display: none;
  border-radius: .1em;
}
#nav_toggle:checked + nav ul {
  display: block;
}
nav li {
  left: 0;
  padding-right: .5em;
}
nav li.selected {
  color: #73c990;
  background: #575D63;
  border-radius: 0 .5em .5em 0;
}
nav li.selected:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 100%;
  background: transparent;
  /* half the box height = half the line of text + (padding + margin) top & bottom */
  border-top:    calc(.5em + 3px + 2px) solid transparent;
  border-bottom: calc(.5em + 3px + 2px) solid transparent;
  border-right: .8em solid #575D63;
}
nav li.selected:after {
  content: none;
}

nav blockquote {
  display: none;
}
